{{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form'}}) }}
{{ form_errors(form) }}
	
	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo0 | raw }}</h4>
	</div>
	
	<!-- Pregunta0.A -->
	<div class="form-block">

		<div class="form-group">
			<label class="col-md-8 control-label" for="textinput"><span class="badge">A</span> {{ titulos.p0a | raw }}</label>
			<div class="col-md-2">
				{% for var in form.p0a %}
					<label class="radio-inline" for="form_p0a_{{ loop.index0 }}">
						{{ form_widget(var) }}
						<label for="form_p0a_{{ loop.index0 }}">&nbsp;</label>
						<span>{{ form_label(var) }}</span>
					</label>
				{% endfor %}		
			</div>
		</div>	
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p0b, 'letra': 'b', 'form': form.p0b} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p0c, 'letra': 'c', 'form': form.p0c} %}

		<div class="form-group">
			<label class="col-md-8 control-label" for="textinput"><span class="badge">D</span> {{ titulos.p0d | raw }}</label>			
			<div class="col-md-3">
					{{ form_errors(form.p0d) }}
					{{ form_widget(form.p0d, {'attr': {'class': 'form-control input-sm'}}) }}		
			</div>
		</div>	
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p0e, 'letra': 'e', 'form': form.p0e} %}
		
	</div>
	
	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo1 | raw }}</h4>
	</div>	
												
	<!-- Pregunta1 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">1</span> {{ titulos.p1 | raw }}</p>
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p1a, 'letra': 'a', 'form': form.p1a} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p1b, 'letra': 'b', 'form': form.p1b} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p1c, 'letra': 'c', 'form': form.p1c} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p1d, 'letra': 'd', 'form': form.p1d} %}
		
	</div>					
	
	<!-- Pregunta2 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">2</span> {{ titulos.p2 | raw }}</p>
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p2a, 'letra': 'a', 'form': form.p2a} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p2b, 'letra': 'b', 'form': form.p2b} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p2c, 'letra': 'c', 'form': form.p2c} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p2d, 'letra': 'd', 'form': form.p2d} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p2e, 'letra': 'e', 'form': form.p2e} %}
		
	</div>											
	
	<!-- Pregunta3 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p3, 'numero': '3', 'form': form.p3} %}
		
	<!-- Pregunta4 -->
	<div class="form-block radios-block">
		<p class="tittle-form"><span class="label simplicity">4</span>{{ titulos.p4 | raw }}</p>

		<div class="form-group">
			<div class="col-md-6">
				{{ form_errors(form.p4) }}
				{{ form_widget(form.p4, {'attr': {'class': 'form-control input-sm'}}) }}		
			</div>
		</div>
					
	</div>			
	
	<!-- Pregunta5 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p5, 'numero': '5', 'form': form.p5, 'type': 'radio'} %}	
	
	<!-- Pregunta6 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p6, 'numero': '6', 'form': form.p6} %}
	
	<!-- Pregunta7 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p7, 'numero': '7', 'form': form.p7} %}		
	
	<!-- Pregunta8 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p8, 'numero': '8', 'form': form.p8, 'type': 'radio'} %}			

	<!-- Pregunta9 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p9, 'numero': '9', 'form': form.p9, 'type': 'radio'} %}				
		
	<!-- Pregunta10 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p10, 'numero': '10', 'form': form.p10} %}		
		
	<!-- Pregunta11 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">11</span> {{ titulos.p11 | raw }}</p>

		<div class="form-group">
			<label class="col-md-2 control-label" for="textinput"><span class="badge">A</span> {{ titulos.p11a | raw }}</label>
			<div class="col-md-2">
				{{ form_errors(form.p11a) }}
				{{ form_widget(form.p11a, {'attr': {'class': 'form-control input-sm'}}) }}		
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-md-2 control-label" for="textinput"><span class="badge">B</span> {{ titulos.p11b | raw }}</label>
			<div class="col-md-2">
				{{ form_errors(form.p11b) }}
				{{ form_widget(form.p11b, {'attr': {'class': 'form-control input-sm'}}) }}		
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-2 control-label" for="textinput"><span class="badge">C</span> {{ titulos.p11c | raw }}</label>
			<div class="col-md-2">
				{{ form_errors(form.p11c) }}
				{{ form_widget(form.p11c, {'attr': {'class': 'form-control input-sm'}}) }}		
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-2 control-label" for="textinput"><span class="badge">D</span> {{ titulos.p11d | raw }}</label>
			<div class="col-md-2">
				{{ form_errors(form.p11d) }}
				{{ form_widget(form.p11d, {'attr': {'class': 'form-control input-sm'}}) }}		
			</div>
		</div>								

	</div>		
	
	<!-- Pregunta12 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p12, 'numero': '12', 'form': form.p12} %}
	
	<!-- Pregunta13 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p13, 'numero': '13', 'form': form.p13} %}
	
	<!-- Pregunta14 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p14, 'numero': '14', 'form': form.p14} %}
	
	<div class="form-block">
		<div class="form-group">
			<div class="col-md-7">
				{{ titulos.p14texto | raw }} <input type="text" id="p14texto" required name="p14texto" class="form-control input-sm" disabled>
			</div>
		</div>
	</div>

	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo2 | raw }}</h4>
	</div>
	
	<!-- Pregunta15 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p15, 'numero': '15', 'form': form.p15} %}
	
	<!-- Pregunta16 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p16, 'numero': '16', 'form': form.p16, 'type': 'radio'} %}
	
	<!-- Pregunta17 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p17, 'numero': '17', 'form': form.p17, 'type': 'radio'} %}
	
	<!-- Pregunta18 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p18, 'numero': '18', 'form': form.p18, 'type': 'radio'} %}

	<!-- Pregunta19 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">19</span> {{ titulos.p19 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p19a, 'numero': '19', 'letra': 'a', 'form': form.p19a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p19b, 'numero': '19', 'letra': 'b', 'form': form.p19b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p19c, 'numero': '19', 'letra': 'c', 'form': form.p19c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p19d, 'numero': '19', 'letra': 'd', 'form': form.p19d} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p19e, 'numero': '19', 'letra': 'e', 'form': form.p19e} %}
		
	</div>			

	<!-- Pregunta20 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">20</span> {{ titulos.p20 | raw }}</p>

		<div class="form-group">
			<label class="col-md-4"></label>
			<label class="col-md-6"></label>
			<label class="col-md-2"><center>Disponibilidad en mi centro</center></label>
		</div>	
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20a, 'form': form.p20a, 'formd': form.p20.0, 'letra': 'a', 'numero': '0'} %}		
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20b, 'form': form.p20b, 'formd': form.p20.1, 'letra': 'b', 'numero': '1'} %}
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20c, 'form': form.p20c, 'formd': form.p20.2, 'letra': 'c', 'numero': '2'} %}
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20d, 'form': form.p20d, 'formd': form.p20.3, 'letra': 'd', 'numero': '3'} %}
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20e, 'form': form.p20e, 'formd': form.p20.4, 'letra': 'e', 'numero': '4'} %}
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20f, 'form': form.p20f, 'formd': form.p20.5, 'letra': 'f', 'numero': '5'} %}
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20g, 'form': form.p20g, 'formd': form.p20.6, 'letra': 'g', 'numero': '6'} %}
		
		{% include 'preguntas/pregunta20.html.twig' with {'titulo': titulos.p20h, 'form': form.p20h, 'formd': form.p20.7, 'letra': 'h', 'numero': '7'} %}
												
	</div>
	
	<!-- Pregunta21 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p21, 'numero': '21', 'form': form.p21, 'type': 'checkbox'} %}	

	<!-- Pregunta22 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">22</span> {{ titulos.p22 | raw }}</p>
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p22a, 'letra': 'a', 'form': form.p22a} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p22b, 'letra': 'b', 'form': form.p22b} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p22c, 'letra': 'c', 'form': form.p22c} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p22d, 'letra': 'd', 'form': form.p22d} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p22e, 'letra': 'e', 'form': form.p22e} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p22f, 'letra': 'f', 'form': form.p22f} %}
		
	</div>
	
	<!-- Pregunta23 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p23, 'numero': '23', 'form': form.p23} %}

	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo3 | raw }}</h4>
	</div>	

	<!-- Pregunta24 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p24, 'numero': '24', 'form': form.p24, 'type': 'checkbox'} %}	
	
	<!-- Pregunta25 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p25, 'numero': '25', 'form': form.p25, 'type': 'radio'} %}	
	
	<!-- Pregunta26 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p26, 'numero': '26', 'form': form.p26, 'type': 'checkbox'} %}	
	
	<!-- Pregunta27 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p27, 'numero': '27', 'form': form.p27, 'type': 'checkbox'} %}	
	
	<!-- Pregunta28 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p28, 'numero': '28', 'form': form.p28, 'type': 'radio'} %}	
	
	<!-- Pregunta29 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p29, 'numero': '29', 'form': form.p29, 'type': 'radio'} %}	
	
	<!-- Pregunta30 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p30, 'numero': '30', 'form': form.p30, 'type': 'checkbox'} %}	
	
	<!-- Pregunta31 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p31, 'numero': '31', 'form': form.p31} %}	
	
	<!-- Pregunta32 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p32, 'numero': '32', 'form': form.p32} %}		

	
	<!-- Pregunta33 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p33, 'numero': '33', 'form': form.p33, 'type': 'radio'} %}	
	
	<!-- Pregunta34 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p34, 'numero': '34', 'form': form.p34, 'type': 'radio'} %}	
	
	<!-- Pregunta35 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p35, 'numero': '35', 'form': form.p35, 'type': 'radio'} %}	
	
	<!-- Pregunta36 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p36, 'numero': '36', 'form': form.p36, 'type': 'checkbox'} %}	
												
	<!-- Pregunta37 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">37</span> {{ titulos.p37 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p37a, 'numero': '37', 'letra': 'a', 'form': form.p37a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p37b, 'numero': '37', 'letra': 'b', 'form': form.p37b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p37c, 'numero': '37', 'letra': 'c', 'form': form.p37c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p37d, 'numero': '37', 'letra': 'd', 'form': form.p37d} %}
		
	</div>

	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo4 | raw }}</h4>
	</div>
		
	<!-- Pregunta38 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">38</span> {{ titulos.p38 | raw }}</p>
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38a, 'letra': 'a', 'form': form.p38a} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38b, 'letra': 'b', 'form': form.p38b} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38c, 'letra': 'c', 'form': form.p38c} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38d, 'letra': 'd', 'form': form.p38d} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38e, 'letra': 'e', 'form': form.p38e} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38f, 'letra': 'f', 'form': form.p38f} %}		
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38g, 'letra': 'g', 'form': form.p38g} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38h, 'letra': 'h', 'form': form.p38h} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38i, 'letra': 'i', 'form': form.p38i} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38j, 'letra': 'j', 'form': form.p38j} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38k, 'letra': 'k', 'form': form.p38k} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38l, 'letra': 'l', 'form': form.p38l} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38m, 'letra': 'm', 'form': form.p38m} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38n, 'letra': 'n', 'form': form.p38n} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38o, 'letra': 'o', 'form': form.p38o} %}
		
		{% include 'preguntas/lineporcentaje.html.twig' with {'titulo': titulos.p38p, 'letra': 'p', 'form': form.p38p} %}
		
	</div>	

	<!-- Pregunta39 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">39</span> {{ titulos.p39 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39a, 'numero': '39', 'letra': 'a', 'form': form.p39a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39b, 'numero': '39', 'letra': 'b', 'form': form.p39b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39c, 'numero': '39', 'letra': 'c', 'form': form.p39c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39d, 'numero': '39', 'letra': 'd', 'form': form.p39d} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39e, 'numero': '39', 'letra': 'e', 'form': form.p39e} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39f, 'numero': '39', 'letra': 'f', 'form': form.p39f} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39g, 'numero': '39', 'letra': 'g', 'form': form.p39g} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39h, 'numero': '39', 'letra': 'h', 'form': form.p39h} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39i, 'numero': '39', 'letra': 'i', 'form': form.p39i} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39j, 'numero': '39', 'letra': 'j', 'form': form.p39j} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39k, 'numero': '39', 'letra': 'k', 'form': form.p39k} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39l, 'numero': '39', 'letra': 'l', 'form': form.p39l} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39m, 'numero': '39', 'letra': 'm', 'form': form.p39m} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39n, 'numero': '39', 'letra': 'n', 'form': form.p39n} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p39o, 'numero': '39', 'letra': 'o', 'form': form.p39o} %}
		
	</div>
	
	<!-- Pregunta40 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">40</span> {{ titulos.p40 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p40a, 'numero': '40', 'letra': 'a', 'form': form.p40a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p40b, 'numero': '40', 'letra': 'b', 'form': form.p40b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p40c, 'numero': '40', 'letra': 'c', 'form': form.p40c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p40d, 'numero': '40', 'letra': 'd', 'form': form.p40d} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p40e, 'numero': '40', 'letra': 'e', 'form': form.p40e} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p40f, 'numero': '40', 'letra': 'f', 'form': form.p40f} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p40g, 'numero': '40', 'letra': 'g', 'form': form.p40g} %}
				
	</div>	
	
	<!-- Pregunta41 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p41, 'numero': '41', 'form': form.p41, 'type': 'radio'} %}		
	
	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo5 | raw }}</h4>
	</div>
	
	<!-- Pregunta42 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p42, 'numero': '42', 'form': form.p42, 'type': 'radio'} %}
	
	<!-- Pregunta43 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p43, 'numero': '43', 'form': form.p43, 'type': 'radio'} %}	

	<!-- Pregunta44 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">44</span> {{ titulos.p44 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p44a, 'numero': '44', 'letra': 'a', 'form': form.p44a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p44b, 'numero': '44', 'letra': 'b', 'form': form.p44b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p44c, 'numero': '44', 'letra': 'c', 'form': form.p44c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p44d, 'numero': '44', 'letra': 'd', 'form': form.p44d} %}
				
	</div>
	
	<!-- Pregunta45 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p45, 'numero': '45', 'form': form.p45} %}
	
	<!-- Pregunta46 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p46, 'numero': '46', 'form': form.p46, 'type': 'radio'} %}
	
	<!-- Pregunta47 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p47, 'numero': '47', 'form': form.p47, 'type': 'radio'} %}	
	
	<!-- Pregunta48 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p48, 'numero': '48', 'form': form.p48, 'type': 'radio'} %}
	
	<!-- Pregunta49 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p49, 'numero': '49', 'form': form.p49, 'type': 'radio'} %}
	
	<!-- Pregunta50 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p50, 'numero': '50', 'form': form.p50, 'type': 'radio'} %}	
	
	<!-- Pregunta51 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p51, 'numero': '51', 'form': form.p51, 'type': 'radio'} %}	
	
	<!-- Pregunta52 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p52, 'numero': '52', 'form': form.p52, 'type': 'radio'} %}
	
	<!-- Pregunta53 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p53, 'numero': '53', 'form': form.p53, 'type': 'radio'} %}
	
	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo6 | raw }}</h4>
	</div>
		
	<!-- Pregunta54 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p54, 'numero': '54', 'form': form.p54, 'type': 'radio'} %}	
	
	<!-- Pregunta55 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">55</span> {{ titulos.p55 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p55a, 'numero': '55', 'letra': 'a', 'form': form.p55a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p55b, 'numero': '55', 'letra': 'b', 'form': form.p55b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p55c, 'numero': '55', 'letra': 'c', 'form': form.p55c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p55d, 'numero': '55', 'letra': 'd', 'form': form.p55d} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p55e, 'numero': '55', 'letra': 'e', 'form': form.p55e} %}
				
	</div>
		
	<!-- Pregunta56 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p56, 'numero': '56', 'form': form.p56, 'type': 'radio'} %}
	
	<!-- Pregunta57 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">57</span> {{ titulos.p57 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57a, 'numero': '57', 'letra': 'a', 'form': form.p57a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57b, 'numero': '57', 'letra': 'b', 'form': form.p57b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57c, 'numero': '57', 'letra': 'c', 'form': form.p57c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57d, 'numero': '57', 'letra': 'd', 'form': form.p57d} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57e, 'numero': '57', 'letra': 'e', 'form': form.p57e} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57f, 'numero': '57', 'letra': 'f', 'form': form.p57f} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57g, 'numero': '57', 'letra': 'g', 'form': form.p57g} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57h, 'numero': '57', 'letra': 'h', 'form': form.p57h} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57i, 'numero': '57', 'letra': 'i', 'form': form.p57i} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57j, 'numero': '57', 'letra': 'j', 'form': form.p57j} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57k, 'numero': '57', 'letra': 'k', 'form': form.p57k} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p57l, 'numero': '57', 'letra': 'l', 'form': form.p57l} %}
				
	</div>	

	<!-- Pregunta58 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p58, 'numero': '58', 'form': form.p58} %}
	
	<!-- Pregunta59 -->
	{% include 'preguntas/porcentaje1.html.twig' with {'titulo': titulos.p59, 'numero': '59', 'form': form.p59} %}

	<!-- Pregunta60 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p60, 'numero': '60', 'form': form.p60, 'type': 'radio'} %}	

	<!-- Pregunta61 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">61</span> {{ titulos.p61 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p61a, 'numero': '61', 'letra': 'a', 'form': form.p61a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p61b, 'numero': '61', 'letra': 'b', 'form': form.p61b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p61c, 'numero': '61', 'letra': 'c', 'form': form.p61c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p61d, 'numero': '61', 'letra': 'd', 'form': form.p61d} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p61e, 'numero': '61', 'letra': 'e', 'form': form.p61e} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p61f, 'numero': '61', 'letra': 'f', 'form': form.p61f} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p61g, 'numero': '61', 'letra': 'g', 'form': form.p61g} %}
				
	</div>	
	
	<div class="form-block">
		<h4 class="tittle-section">{{ titulos.titulo7 | raw }}</h4>
	</div>
		
	<!-- Pregunta62 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p62, 'numero': '62', 'form': form.p62, 'type': 'radio'} %}	
	
	<!-- Pregunta63 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p63, 'numero': '63', 'form': form.p63, 'type': 'radio'} %}	

	<!-- Pregunta64 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p64, 'numero': '64', 'form': form.p64, 'type': 'radio'} %}	

	<!-- Pregunta65 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p65, 'numero': '65', 'form': form.p65, 'type': 'radio'} %}	

	<!-- Pregunta66 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p66, 'numero': '66', 'form': form.p66, 'type': 'radio'} %}	

	<!-- Pregunta67 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p67, 'numero': '67', 'form': form.p67, 'type': 'radio'} %}
	
	<!-- Pregunta68 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p68, 'numero': '68', 'form': form.p68, 'type': 'radio'} %}		

	<!-- Pregunta69 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p69, 'numero': '69', 'form': form.p69, 'type': 'radio'} %}

	<!-- Pregunta70 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p70, 'numero': '70', 'form': form.p70, 'type': 'radio'} %}

	<!-- Pregunta71 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p71, 'numero': '71', 'form': form.p71, 'type': 'radio'} %}

	<!-- Pregunta72 -->
	{% include 'preguntas/sino.html.twig' with {'titulo': titulos.p72, 'numero': '72', 'form': form.p72, 'type': 'radio'} %}

	<!-- Pregunta73 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p73, 'numero': '73', 'form': form.p73, 'type': 'radio'} %}		
	
	<!-- Pregunta74 -->
	<div class="form-block">
		<p class="tittle-form"><span class="label simplicity">74</span> {{ titulos.p74 | raw }}</p>
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p74a, 'numero': '74', 'letra': 'a', 'form': form.p74a} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p74b, 'numero': '74', 'letra': 'b', 'form': form.p74b} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p74c, 'numero': '74', 'letra': 'c', 'form': form.p74c} %}
		
		{% include 'preguntas/line.html.twig' with {'titulo': titulos.p74d, 'numero': '74', 'letra': 'd', 'form': form.p74d} %}
				
	</div>	
	
	<!-- Pregunta75 -->
	{% include 'preguntas/column.html.twig' with {'titulo': titulos.p75, 'numero': '75', 'form': form.p75, 'type': 'radio'} %}		
	
<!-- BUTTON -->
<div class="form-block button-block">
	<!-- Button (Double) -->
	<div class="form-group" style="margin-bottom:0;">
		<div class="col-xs-12 col-md-8 show-grid">
			<button type="submit" id="button1id" name="button1id" class="col-xs-12 col-sm-12 btn btn-sample btn-lg">Enviar el formulario</button>												
		</div>
		<div class="col-xs-12 col-md-4">
			<button type="reset" id="button2id" name="button2id" class="col-xs-12 col-sm-12 btn btn-default" style="margin-top: 6px;">Borrar el formulario</button>
		</div>
	</div>
</div>
{{ form_end(form) }}