
<div class="form-group">
	<label class="col-md-4 control-label p1-label" for="radios"><span class="badge">{{ letra | capitalize }}</span> {{ titulo | raw }}</label>
	<div class="col-md-7">
		{% for var in form %}
			<label class="radio-inline" for="form_p24{{ letra }}_{{ loop.index0}}">
				{{ form_widget(var) }}
				<label for="form_p24{{ letra }}_{{ loop.index0 }}">&nbsp;</label>
				<span>{{ loop.index }}</span>
			</label>
		{% endfor %}
	</div>
	<div class="col-md-1">
		<label class="checkbox-inline" for="form_p24_{{ numero }}">
			{{ form_widget(formd) }}						
			<label for="form_p24_{{ numero }}">&nbsp;</label>
		</label>
	</div>
</div>	